@import "../../App.scss";

#hamburguer {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  top: 0%;
  color: white;
  left: 0;
  z-index: -1;
  transition: 1.2s cubic-bezier(0.23, 1, 0.320, 1);

  .menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    
    ul {
      list-style-type: none;
      font-size: 2em;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        padding: 10px 20px;
      }

      a:hover {
        background-color: #fff;
        color: black;
      }
    }
  }

  &.close {
    transform: translateY(-100vh);
  }
  &.open {
    transform: translateY(0vh);
  }

  @media (max-width: 1200px) {
    display: block;
  }
}
