@import "../../App.scss";

header {
  background-color: #fff;
  transition: .5s;
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);

  a {
    color: inherit;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 45px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s ease;

      &:hover {
        background-color: black;
        color: white;
      }
  }

  &.invisible {
    transform: translateY(-84px);
  }
  &.visible {
    transform: translateY(0px);
  }
  

  .limiter {
    @include flex-config(row, space-between, center, "");
  }

  svg.logo {
    width: 75px;
    transition: 1.2s ease;
  }
}

nav.right-header {
  width: 50%;
  max-width: 400px;

  ul {
    @include flex-config(row, space-evenly, center, "");
  
    list-style: none;

  }
}

@media (max-width: 1200px) {

  nav.right-header {
    width: fit-content;
    ul {
      display: none;
    }
  }
}

#menu-icon {
  display: none;
  width: fit-content;
  cursor: pointer;

  img {
    width: 30px;
  }

  button {
    all: unset;
    padding: 3px;
  }

  .line {
    width: 23px;
    background-color: black;
    height: 2px;
    margin-bottom: 4px;
    transition: .3s ease;
    z-index: 2;
  }
  
  .open {  
    .line {
      background-color: #fff;
    }
    
    .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .line:nth-child(2) {
      transform: scale(0);
    }
    .line:nth-child(3) {
      transform: translateY(-4px) rotate(-45deg);
    }
  }

  @media (max-width: 1200px) {
    & {
      display: block;
    }
  }
}

