@import "../../App.scss";

header {
  background-color: #fff;

  #limiter {
    @include flex-config(row, space-between, center, "");
  }

  svg.logo {
    width: 75px;
    fill: black;
  }
}

nav.right-header {
  width: 50%;
  max-width: 400px;

  ul {
    @include flex-config(row, space-evenly, center, "");
  
    list-style: none;

    li {
      padding: 5px 15px;
      border-radius: 45px;
      font-weight: 500;
      cursor: pointer;
      transition: .4s ease;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    padding: 0px 20px;
  }

  nav.right-header {
    width: fit-content;
    ul {
      display: none;
    }
  }
}



