@import "../../App.scss";

#menu-icon {
  display: none;
  width: fit-content;
  cursor: pointer;
  z-index: 70;

  img {
    width: 30px;
  }

  button {
    all: unset;
    padding: 3px;
  }

  .line {
    width: 23px;
    background-color: black;
    height: 2px;
    margin-bottom: 4px;
    transition: .3s ease;
  }
  
  .open {  
    .line {
      background-color: #fff;
    }
    
    .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .line:nth-child(2) {
      transform: scale(0);
    }
    .line:nth-child(3) {
      transform: translateY(-4px) rotate(-45deg);
    }
  }

  @media (max-width: 1200px) {
    & {
      display: block;
    }
  }
}

#menu-container {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  position: absolute;
  background: rgba(0, 0, 0);
  transition: .5s ease-in-out;
  z-index: 1;
  
  &.open {
    transform: translateY(-0%);
  }
  &.close {
    transform: translateY(-100%);
  }

  ul {
    padding: 40px 0px;
    list-style: none;
    color: white;
    font-size: 1.2em;
    font-weight: 700;

    @include flex-config(column, center, center, 20px);

    li {
      padding: 5px;
      cursor: pointer;
      transition: .2s ease;
      padding: 5px 15px;
      border-radius: 20px;

      &:active {
        background-color: white;
        color: black;
      }
    }

  }

  @media (max-width: 1200px) {
    display: block;
  }

}


