@import "../../App.scss";

footer {
  background-color: #101010;
  border-top: 1px solid #212121;
  color: rgba(255, 255, 255, 0.329);
  padding: 20px 0px;
  display: grid;
  font-size: 0.8em;

  p {
    margin: auto;
    text-align: center;
  }
}