@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$hover-color: #848fec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

div#limiter {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

@mixin flex-config ($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

video {
  display: flex;
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 30px;
  background-color: red;
  max-width: 1200px;
  width: 100%;
  padding: -30px 0px;
}